---
- hosts: localhost
  connection: local
  tasks:
    - name: "ini_file | dnf max_parallel_downloads"
      ini_file:
        path: /etc/dnf/dnf.conf
        no_extra_spaces: true
        section: main
        option: max_parallel_downloads
        value: 10
    - name: "dnf | update all packages to latest"
      dnf:
        name: "*"
        state: latest
    - name: "dnf | install package groups"
      dnf:
        name:
          - "@base-x"
          - "@c-development"
          - "@Fonts"
          - "@hardware-support"
          - "@Multimedia"
          - "@Virtualization"
    - name: "yum_repository | add google chrome repo"
      yum_repository:
        name: google-chrome
        description: Google Chrome
        baseurl: https://dl.google.com/linux/chrome/rpm/stable/$basearch
        enabled: true
        gpgcheck: true
        gpgkey: https://dl-ssl.google.com/linux/linux_signing_key.pub
    - name: "dnf | install packages"
      dnf:
        name:
          - acpi
          - adobe-source-code-pro-fonts
          - ascii
          - arandr
          - bind-utils
          - cifs-utils
          - dnf-utils
          - google-chrome-stable # -stable because google-chrome is google-chrome-canary
          - firefox
          - git
          - hostapd
          - htop
          - ImageMagick
          - iw
          - jq
          - lsof
          - man-pages
          - meld
          - mirage
          - nmap-ncat
          - openssl
          - p7zip
          - pavucontrol
          - pcre # needed by quickswitch
          - plymouth-theme-hot-dog
          - pwgen
          - python3-pip
          - ruby
          - rubygem-irb
          - screen
          - socat
          - tig
          - usbutils
          - v4l-utils
          - vim-enhanced
          - vim-X11
          - vlc
          - whois
          - wireshark
          - wget
          - wpa_supplicant
          - x11-ssh-askpass
          - xprop
          - xscreensaver-base
          - xscreensaver-extras
          - xsel
          - xterm
          - yt-dlp
    # https://developer.chrome.com/docs/extensions/how-to/distribute/install-extensions#preference-linux
    - name: "file | chrome extension directory"
      file:
        state: directory
        path: /opt/google/chrome/extensions/
    - name: "copy | ublock extension"
      copy:
        content: '{"external_update_url": "https://clients2.google.com/service/update2/crx"}'
        dest: /opt/google/chrome/extensions/ddkjiahejlhfcafbddmgiahcphecmpfh.json
        mode: "0644"
    - name: "file | chrome policies directory"
      file:
        state: directory
        path: /etc/opt/chrome/policies/managed/
    - name: "copy | chrome policy file"
      copy:
        content: '{"PasswordManagerEnabled":false,"SigninAllowed":false,"MetricsReportingEnabled":false,"CloudPrintProxyEnabled":false,"CloudPrintSubmitEnabled":false,"SyncDisabled":true,"PrivacySandboxAdMeasurementEnabled":false,"PrivacySandboxPromptEnabled":false,"PrivacySandboxAdTopicsEnabled":false,"PrivacySandboxSiteEnabledAdsEnabled":false,"SearchSuggestEnabled":false}'
        dest: /etc/opt/chrome/policies/managed/default_managed_policy.json
        mode: "0644"
    - name: "user | create account"
      user:
        name: "ace"
        createhome: yes
    - name: "user | grant sudo access"
      user:
        name: "ace"
        groups: wheel
        append: yes
    - name: "user | grant wireshark access"
      user:
        name: "ace"
        groups: wireshark
        append: yes
    - name: "user | grant libvirt access"
      user:
        name: "ace"
        groups: libvirt
        append: yes
    - name: "setup home directory for user"
      block:
        - name: "file | create home directory structure"
          file:
            state: directory
            path: "~/{{ item }}"
          with_items:
            - bin
            - git
            - notes
            - personal
            - projects
            - resources
            - tmp
        - name: "copy | put dotfiles in place"
          copy:
            src: "{{ item }}"
            dest: "~/.{{ item | basename }}"
            backup: yes
          with_fileglob:
            - dotfiles/*
      become: true
      become_user: ace
# start docker
    - name: rpm_key | import Docker CE repository gpg key
      rpm_key:
        key: https://download.docker.com/linux/fedora/gpg
        fingerprint: 060A 61C5 1B55 8A7F 742B 77AA C52F EB6B 621E 9F35
        state: present
    - name: get_url | add docker repo
      get_url:
        url: https://download.docker.com/linux/fedora/docker-ce.repo
        dest: /etc/yum.repos.d/docker-ce.repo
        owner: root
        group: root
        mode: "0644"
    - name: dnf | install docker-ce and containerd
      dnf:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd
          - docker-compose-plugin
    - name: systemd | start and enable the docker service
      systemd:
        state: started
        enabled: yes
        name: docker
# end docker
# start i3
    - name: "dnf | install"
      dnf:
        name:
          - i3
          - i3status
          - pango 
          - python3-setuptools
    - name: "setup i3 for user"
      block:
        - name: "pip | install quickswitch plugin dependency"
          pip:
            name: "i3-py"
            state: present
            extra_args: "--user"
        - name: "pip | install quickswitch plugin"
          pip:
            name: "quickswitch-i3"
            state: present
            extra_args: "--no-build-isolation --user"
        - name: "file | create i3 config directory"
          file:
            state: directory
            path: ~/.config/i3
        - name: "copy | copy config"
          copy:
            src: i3_config
            dest: ~/.config/i3/config
            backup: yes
        - name: "copy | xinitrc"
          copy:
            src: i3_xinitrc
            dest: ~/.xinitrc
            backup: yes
        - name: "copy | put i3 helper bins in place"
          copy:
            src: "{{ item }}"
            dest: "~/bin/{{ item | basename }}"
            backup: yes
            mode: "0755"
          with_fileglob:
            - i3_bins/*
      become: true
      become_user: ace
# end i3
